Client/Service References/ServiceReference/ServiceBD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59168/ServiceBD.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59168/ServiceBD.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59168/ServiceBD.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBD_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IServiceBD_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBD_GetStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="IServiceBD_GetStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBD_RemoveStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudent" />
  </wsdl:message>
  <wsdl:message name="IServiceBD_RemoveStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBD_AddOtherData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOtherData" />
  </wsdl:message>
  <wsdl:message name="IServiceBD_AddOtherData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOtherDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBD_SetNewId_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNewId" />
  </wsdl:message>
  <wsdl:message name="IServiceBD_SetNewId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNewIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBD">
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBD/AddStudent" message="tns:IServiceBD_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBD/AddStudentResponse" message="tns:IServiceBD_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBD/GetStudent" message="tns:IServiceBD_GetStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBD/GetStudentResponse" message="tns:IServiceBD_GetStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBD/RemoveStudent" message="tns:IServiceBD_RemoveStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBD/RemoveStudentResponse" message="tns:IServiceBD_RemoveStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOtherData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBD/AddOtherData" message="tns:IServiceBD_AddOtherData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBD/AddOtherDataResponse" message="tns:IServiceBD_AddOtherData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNewId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBD/SetNewId" message="tns:IServiceBD_SetNewId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBD/SetNewIdResponse" message="tns:IServiceBD_SetNewId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBD" type="tns:IServiceBD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IServiceBD/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="http://tempuri.org/IServiceBD/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStudent">
      <soap:operation soapAction="http://tempuri.org/IServiceBD/RemoveStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOtherData">
      <soap:operation soapAction="http://tempuri.org/IServiceBD/AddOtherData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNewId">
      <soap:operation soapAction="http://tempuri.org/IServiceBD/SetNewId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBD">
    <wsdl:port name="BasicHttpBinding_IServiceBD" binding="tns:BasicHttpBinding_IServiceBD">
      <soap:address location="http://localhost:59168/ServiceBD.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>