Client/Service References/ServiceReference/ServiceBD11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfAllDataStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllDataStudent" nillable="true" type="tns:AllDataStudent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllDataStudent" nillable="true" type="tns:ArrayOfAllDataStudent" />
  <xs:complexType name="AllDataStudent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MiddleMark" type="xs:float" />
      <xs:element minOccurs="0" name="NumberSdudentTickets" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberStudent" type="xs:int" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllDataStudent" nillable="true" type="tns:AllDataStudent" />
</xs:schema>